<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- App Title -->
    <a class="navbar-brand fs-4 fw-light" href="#">Artist Search</a>

    <!-- Hamburger Menu (Toggler) -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <!-- Navigation Buttons -->
        <li class="nav-item">
          <a 
            class="nav-link px-4"
            routerLink="/search"
            routerLinkActive="active-dropdown-item"
            aria-current="page">
            Search
          </a>
        </li>

        <!-- Favorites Button (Visible when logged in) -->
        <li *ngIf="isLoggedIn" class="nav-item">
          <a 
            class="nav-link px-4"
            routerLink="/favorites"
            routerLinkActive="active-dropdown-item"
            aria-current="page">
            Favorites
          </a>
        </li>

        <div *ngIf="!authLoading && isLoggedIn" class="dropdown ms-3 text-center text-lg-end">
          <button
            class="btn btn-link dropdown-toggle text-black text-decoration-none w-100"
            id="userDropdown"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img [src]="avatarUrl" alt="User Profile" width="30" height="30" class="rounded-circle me-2" />
            {{ userName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" style="width: auto; min-width: 100px; max-width: 200px;" aria-labelledby="userDropdown">
            <li>
              <button class="dropdown-item text-danger" (click)="deleteAccount()">Delete account</button>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <button class="dropdown-item " (click)="logout()">Log out</button>
            </li>
          </ul>
        </div>
        

        <!-- Login Button (Visible when logged out) -->
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a 
            class="nav-link px-4"
            routerLink="/login"
            routerLinkActive="active-dropdown-item"
            aria-current="page">
            Login
          </a>
        </li>

        <!-- Register Button (Visible when logged out) -->
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a 
            class="nav-link px-4"
            routerLink="/register"
            routerLinkActive="active-dropdown-item"
            aria-current="page">
            Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
